 body {
  font-family: "Roboto", "Futura", "Arial";
  font-size: 32px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
}

.main-container .header{
    flex: 0.1; /* controls ratio between header to content with content being 1 */
}
